#galeria {
    padding: 8px;
    width: 75%;
    margin: 0 auto;
    border: 4px inset black;
}

#controles {
    width: 100%;
    height: 20%;
    max-height: 50px;
    background-color: transparent;
}

#anterior{
    background-color: white;
    float: left;
}

#siguiente {
    background-color: white;
    float: right;
}

#imagen {
    display: block;
    margin: 20px auto 20px auto;
    height: 300px;
}

#fondo{
    margin:10px;
}

 #buscador { 
    float: right;
    margin-bottom: 2px;
}

#pagina {
  width: 90%;
  margin: 0 auto;
  background: url(imagenes/fondo.jpg);
  /* url: https://www.lawebera.es/como-hacer/ejemplos-css/expandir-imagen-fondo-css.php*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  /* */
}

#cabecera{
  font-size: x-large;
  border: 2px dashed white;
  padding: 15px;
  margin: 15px;
  text-decoration-color: white; 
}

#buscador { 
    float: right;
    margin-bottom: 2px;
    color: white;
}

#h1{
  font-family: 'pepsi';
  src: url(letra/pepsi.otf);
  letter-spacing: 0.3em;
  color: white;
  text-align: center;
  padding-top: 8px;
}

.escudo{
  height: 200px;
  width: 200px;
  position: relative;
}

#tabla{
    margin: auto;
    color: white;
    padding:20px;
    margin: 20px;
}

#twiter{
    float:right;
    padding: 2px;
    margin: 2px;
}